html {
    margin : 0;
    padding: 0;
    min-width: 1500px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    margin : 0;
    padding: 0;
    min-width: 1500px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 100%;
    background-color: #f9faf4;
}

.HeaderHeader {
    background: #ffc94b;
    height: 150px;
    width: 100%;
    box-shadow: -2px 5px 10px #f9faf4;
}

.login_register {
    padding-top: 20px;
    margin-right: 5%;
    padding-bottom: 0;
    background: #ffc94b;
  }
  
.login_register .image_login_register {
    width: auto;
    height: 25px;
    float:right;
}

.login_register ul {
    list-style-type: none;
    margin: 0px;
    padding-right: 25px;
    overflow: hidden;
}

.login_register li {
    float:right;
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.login_register li a{
    padding-left: 10px;
    text-decoration: none;
    color: black;
    padding-top: 35px;
}

.login_register li a:hover {
    color: rgb(255, 255, 255);
}

.menu a {
    font-size: 25px;
    float: left;
    padding: 0px 40px;
    padding-top: 60px;
    text-decoration: none;
    color: black;
}

.menu h3 {
    font-size: 30px;
    float: left;
    padding: 30px 40px;
    text-shadow: 1px 1px 1px white;
    color: black;
}

header {
    background-color: #ffc94b;
    min-width: 1500px;
    height: 130px;
    box-shadow: -2px 5px 10px #f9a66c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

header .logo {
    float: left;
    margin-left: 116px;
    width: 340px;
    height: auto;
    margin-top: -0.5%;
}

#cart {
    width: 40px;
    height: auto;
    
}

.menu .cart_position {
    float: right;
    margin-right: 1%;
}

/*main*/

/*cart table*/
table{
    max-width: 100%;
    min-width: 100%;
    margin-top:0.2%;
    font-size:21px;
}

.table td {
	border-bottom: #ffc94b 1px solid;
	padding: 20px;
}

/*image*/
#buttons {
    width: 30px;
    height: 30px;
}

/*check out*/

.b2 {
    padding: 20px;
    margin-right: 53px;
    color: rgb(0, 0, 0);
    background-color: #ffc94b;
    text-align: center;
    cursor: pointer;
    width: 10%;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;
    border:#f9a66c;
    margin-bottom: 40px;
  }
  
.b2:hover {
    background-color: #f9a66c;
    color: white;
  }

.spacing {
    display: flex;
    flex-direction: column;
    min-height:95vh;
}

/*notification for public users*/

.col{
    width:100%;
    display: flex;
    margin-bottom: -5%;
}

.col1, .col3{
    width:33%;
}

.col2{
    width:33%;
    background-color: #ffc94b;
    height: 200px;
    margin-bottom: 20%;
    margin-top: -18%;
    box-shadow: 1px 1px 5px 1px #f9faf4;
}

.col2 .notify{
    color: black;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top:30px;
    padding-left:5px;
    padding-right: 5px;
}

#bold{
    font-weight: bold;
}

.placement{
    padding-top:30px;
}

.buttons{
    color: black;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ffc94b;
    text-decoration: none;
    padding: 25px ;
    display: block;
}

.buttons:hover{
    color: white;
    background-color: #f9a66c;
}
